.uslug{
    display: flex;

    &__title{
        color: var(--text, #333);
        font-family: Gilroy;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        margin-left: 900px;
        margin-top: -900px;
    }
    &__cafe{
        margin-left: 900px;
        margin-top: 70px;
        
    }
    &__cafe-photo{
        width: 550px;
        height: 270px;
        flex-shrink: 0;
    }
    &__text{
        color: var(--white, #FFF);
        font-family: Gilroy;
        font-size: 27px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        margin-top: -80px;
        margin-left: 30px;
    }
}